<table>
    <tr class="row">
        <td class="col1">
            <label id="contentsText">Tel</label>
        </td>
        <td class="col2">
            <div class="ui input">            
                <label id ="contentsText"><%= curTel %></label>
            </div>
        </td>
    </tr>
    <tr class="row">
        <td class="col1">
            <label id="contentsText">Address</label>
        </td>
        <td class="col2">
            <div class="ui input">            
                <label id ="contentsText"><%= curAddress %></label>
            </div>
        </td>
    </tr>
</table>